# Database configuration
POSTGRES_DB=bigdatalab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgAdmin configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Application settings
LOG_LEVEL=INFO
DEBUG=False
